<div class="container mt-5 col-md-4 col-md-offset-4 p-4 rounded border-primary" style="background-color:white">
  <form>
    <fieldset>
      <h5 class="text-center text-primary"><b>Sign Up</b></h5>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" [(ngModel)]="firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="num" class="form-control" id="exampleInputMobileNum" placeholder="Mobile" [(ngModel)]="mobileNumber" name="mobileNumber" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-block" (click)="signUpFunction()">Sign Up</button>
    </fieldset>
  </form>
</div>