<div class="container mt-5 col-md-4 col-md-offset-4 p-4 rounded border-primary" style="background-color:white">
  <form>
    <fieldset>
      <h5 class="text-center text-primary"><b>Sign Up</b></h5>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="num" class="form-control" id="exampleInputMobileNum" aria-describedby="emailHelp" placeholder="Mobile" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-block">Sign In</button>
    </fieldset>
  </form>
</div>