<div class="rounded border-primary p-4" style="background-color:white; width:100%; height: 100%;">
  <div class="row">
    <div class="col-md-8">
      <form>
        <fieldset>
          <h5 class="text-primary"><b>Issue Decription</b></h5>
          <div class="form-group">
            <label class="col-form-label col-form-label-md" for="issueTitle">Title</label>
            <input type="text" class="form-control" id="issueTitle" placeholder="Issue Title" [(ngModel)]="title" name="title" required>
          </div>
          <div class="form-group">
            <label class="col-form-label col-form-label-md" for="description">Description</label>
            <!-- <ck-editor data="<p>Description</p>" class="form-control" id="description" placeholder="Issue Description" [(ngModel)]="description" name="description" language="en"></ck-editor> -->
            <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
            <!-- <textarea class="form-control" id="description" placeholder="Issue Description" [(ngModel)]="description" name="description" cols="10" rows="5" required></textarea> -->
          </div>

          <div class="form-group">
            <label class="col-form-label col-form-label-md" for="attchedFilePath">Attach File</label>
            <input type="file" class="form-control" id="attchedFilePath" [(ngModel)]="attchedFilePath" name="attchedFilePath" required>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label class="col-form-label col-form-label-md" for="status">Status</label>
              <select class="form-control">
                <option value="in-progress">In- Progress</option>
                <option value="backlog">Backlog</option>
                <option value="in-test">In- Test</option>
                <option value="done">Done</option>
              </select>
            </div>
            <div class="col-md-6">
                <label class="col-form-label col-form-label-md" for="priority">Priority</label>
                <select class="form-control">
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
              <div class="col-md-6">
                  <label class="col-form-label col-form-label-md" for="reporter">Status</label>
                  <select class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label col-form-label-md" for="assignedTo">Assign To</label>
                    <select class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                </div>
          </div>
          <br>
          <div *ngIf="hiddenFieldforUserId">
            <input type="text" class="form-control" id="hiddenFieldforUserName" [(ngModel)]="hiddenFieldforUserName" name="hiddenFieldforUserName">
            <input type="text" class="form-control" id="hiddenFieldforUserId" [(ngModel)]="hiddenFieldforUserId" name="hiddenFieldforUserId">
          </div>
          <button type="submit" class="btn btn-primary">Create Issue</button>
        </fieldset>
      </form>
    </div>
    <div class="col-md-4" style="float:right">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm col-md-4" style="float: left">Watch</button>
        </div>
        <br>
        <br>
        <div class="col-md-12 text-left">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Cras justo odio
                <a href="#"><i class="fas fa-times"></i></a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                <a href="#"><i class="fas fa-times"></i></a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <a href="#"><i class="fas fa-times"></i></a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>